<form action="" class="card">
    <div class="header__card">
        <h2 class="registrar">Regístrate</h2>
    </div>
    <div class="input-group">
        <input required="" type="text" name="Nombre" autocomplete="off" class="input">
        <label class="user-label">Nombre</label>
      </div>
      <div class="input-group">
        <input required="" type="text" name="Apellido" autocomplete="off" class="input">
        <label class="user-label">Apellido</label>
      </div>
      <div class="input-group">
        <input required="" type="text" name="Correo" autocomplete="off" class="input">
        <label class="user-label">Correo</label>
      </div>
      <div class="input-group">
        <input required="" type="text" name="Contraseña" autocomplete="off" class="input">
        <label class="user-label">Contraseña</label>
      </div>
      <button class="button">
        Registrarse
        <div class="arrow-wrapper">
            <div class="arrow"></div>
    
        </div>
    </button>
</form>

