<form action="" class="card">
        <h2 class="registrar">Regístrate</h2>
    <div class="input-group">
        <input required="" type="text" name="Nombre" autocomplete="off" class="input" #nombre>
        <label class="user-label">Nombre</label>
      </div>
      <div class="input-group">
        <input required="" type="email" name="Apellido" autocomplete="off" class="input" #apellidos>
        <label class="user-label">Apellidos</label>
      </div>
      <div class="input-group">
        <input required="" type="text" name="Correo" autocomplete="off" class="input" #correo>
        <label class="user-label">Correo</label>
      </div>
      <div class="input-group">
        <input required="" type="text" name="Correo" autocomplete="off" class="input" #foto>
        <label class="user-label">Foto</label>
      </div>
      <div class="input-group">
        <input required="" type="password" name="Contraseña" autocomplete="off" class="input" #password>
        <label class="user-label">Contraseña</label>
      </div>
      <div class="input-group">
        <input required="" type="password" name="Contraseña" autocomplete="off" class="input" #password2>
        <label class="user-label">Repetir Contraseña</label>
      </div>
      <button class="button" type="button" (click)="registro(nombre.value,apellidos.value,correo.value,foto.value,password.value,password2.value)">
        Registrarse
        <div class="arrow-wrapper">
            <div class="arrow">
            </div>
          </div>
    </button>
</form>

