
<main class="body__libros">
    <div class="container">
        <div class="card">
            <h2 class="title">{{standarBook.titulo}}</h2>
            <div class="card-hidden">
                <h3>{{standarBook.titulo}}</h3>
                <h5 class="title2">Tipo de Tapa</h5>
                <p class="info">{{standarBook.tipoLibro}}</p>
                <h5 class="title2">Autor</h5>
                <p class="info">{{standarBook.autor}}</p>
                <h5 class="title2">Photo</h5>
                <p class="info">{{standarBook.photo}}</p>
                <a class="precio">{{standarBook.precio}} € <i class='bx bxl-twitter'></i></a>
              
            </div>
  
        </div>
        <div class="card-border"></div>
    </div>
</main>