.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: aliceblue;
    background-color:#116C7C ;
}
.footer__redes{
    padding-top: 20px;
    color: aliceblue;
    font-size: larger;
    display: flex;
    flex-direction:row;
    gap: 50px;
}
.Copyright{
    padding-top: 20px;
    font-size: larger;
}
.redes__text{
    color: aliceblue;
    text-decoration: none;
}